################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/InvApp/FileContentIndex
/obj/Debug/InvApp.njsproj.AssemblyReference.cache
/.vs/InvApp/v17/fileList.bin
/.vs/InvApp/v17/DocumentLayout.json
/.vs/InvApp/v17/.suo
