<html>
<body>
    <header>
        <h1>
            This is the landing page for this project
        </h1>
    </header>
    <button id="registerButton">Click here to sign in or register</button>
    <input> need something to create a new user
    <input>Please enter the invoice _id you are interested in
    <button id = "changeInvoiceButton">Change Invoice</button>
    <button id = "newInvoiceButton">New Invoice</button>
    <button id = "searchInvoicesButton">Search Invoices</button>
    <script type="text/javascript" src="/views/index.js"></script>
</body>
</html>